*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}
#container {
    background-color: black;
    height: 600px;
    width: 600px;
    border: 10px solid sandybrown;
    position: relative;
}
#startGame {
    margin-top: 30px;
    padding: 10px 15px 10px 15px;
    border: none;
    font-size: 28px;
    font-weight: 700;
}
#container #ball {
    height: 15px;
    width: 15px;
    background-color: whitesmoke;
    border-radius: 50%;
    position: absolute;
}